Flask==3.1.0
flask-cors==4.0.0
pymongo==4.5.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
sumy==0.11.0
nltk==3.9.1
PyJWT
dnspython
bcrypt
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
joblib
passlib[bcrypt]
psutil
